<%- include('../../components/header/_index.ejs') %>

<section class="min-h-screen flex items-stretch text-white">
    <div
        class="lg:flex w-1/2 hidden bg-gray-500 bg-no-repeat bg-cover relative items-center"
        style="
            background-image: url(https://images.unsplash.com/photo-1550751827-4bd374c3f58b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
        "
    >
        <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
        <div class="w-full px-24 z-10">
            <h1 class="text-5xl font-bold text-left tracking-wide">
                ServiceFront
            </h1>
            <p class="text-3xl my-4">Your IT Service Management platform</p>
        </div>
        <!-- <div
            class="bottom-0 absolute p-4 text-center right-0 left-0 flex justify-center space-x-4"
        >
        
        </div> -->
    </div>
    <div
        class="lg:w-1/2 w-full flex items-center justify-center text-center md:px-16 px-0 z-0 bg-teal-900"
    >
        <div
            class="absolute lg:hidden z-10 inset-0 bg-gray-500 bg-no-repeat bg-cover items-center"
            style="
                background-image: url(https://images.unsplash.com/photo-1550751827-4bd374c3f58b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
            "
        >
            <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
        </div>
        <div class="w-full py-6 z-20">
            <h1 class="my-6 flex flex-row justify-center items-center">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <!-- Created with Inkscape (http://www.inkscape.org/) -->

                <svg
                    version="1.1"
                    id="svg125"
                    width="82"
                    height="82"
                    viewBox="0 0 167 167"
                    sodipodi:docname="logo-icon-t.svg"
                    inkscape:version="1.1.2 (0a00cf5339, 2022-02-04)"
                    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:svg="http://www.w3.org/2000/svg"
                >
                    <defs id="defs129" />
                    <sodipodi:namedview
                        id="namedview127"
                        pagecolor="#ffffff"
                        bordercolor="#666666"
                        borderopacity="1.0"
                        inkscape:pageshadow="2"
                        inkscape:pageopacity="0.0"
                        inkscape:pagecheckerboard="0"
                        showgrid="false"
                        inkscape:zoom="2.4131737"
                        inkscape:cx="-26.935484"
                        inkscape:cy="93.238213"
                        inkscape:window-width="1920"
                        inkscape:window-height="1011"
                        inkscape:window-x="0"
                        inkscape:window-y="0"
                        inkscape:window-maximized="1"
                        inkscape:current-layer="g131"
                    />
                    <g
                        inkscape:groupmode="layer"
                        inkscape:label="Image"
                        id="g131"
                    >
                        <path
                            style="fill: #eeeeee; stroke: none"
                            d="m 20.693194,11.24712 c -15.0666299,4.534 -9.4878,27.9921 6,24.1111 15.3423,-3.8444 9.0662,-28.6448991 -6,-24.1111 m 75.999995,41.5278 c -3.670795,-9.2505 -15.988595,-13.8004 -20.861095,-22.3889 -2.7746,-4.8906 1.5847,-10.5045 -3.25,-15.5278 -3.4802,-3.6159 -9.339,-5.0857994 -13.8889,-2.8055 -9.8073,4.915 -3.5586,13.2162 -9.0556,19.7222 -4.9605,5.8711 -12.0879,15.9051 -18.9444,19.4444 -2.5915,1.3378 -5.2705,-0.2249 -8,0.0278 -8.3529,0.7734 -12.9160899,8.7248 -10.5278,16.5278 2.4263,7.9271 13.0992,10.2567 19.3056,5.2778 5.9007,-4.7337 2.1235,-9.6198 4.1666,-15.2778 3.6318,-10.0571 22.7587,-26.7184 34.0556,-22.1944 6.1033,2.4441 18.3928,15.3869 21.4444,21.1944 3.8779,7.38 -1.5019,17.8286 11.555596,18.9167 13.517,1.1264 18.051,-17.9359 6,-23.5 -4.31,-1.9899 -7.762,-0.7702 -12.000001,0.5833 m 40.000001,0 c -3.671,-9.2505 -15.989,-13.8004 -20.861,-22.3889 -3.315,-5.8431 2.258,-11.9903 -5.139,-17.1111 -9.598,-6.6446791 -20.300296,1.8266 -18.916696,12.5 1.542,11.8954 10.872696,6.9845 17.916696,9.8056 5.688,2.2779 19.942,16.3942 21.889,22.1944 3.722,11.0883 -11.741,30.4829 -21.889,33.8889 -6.571,2.2057 -12.908401,-2.1065 -17.055596,6.1111 -4.1404,8.204 2.1374,18 11.055596,18 14.594,0 8.131,-11.411 12.417,-19 3.798,-6.724 13.478,-15.1547 19.583,-19.8889 5.595,-4.3387 13.438,1.5217 18.361,-6.1389 8.271,-12.8689 -6.285,-21.5091 -17.361,-17.9722 m 4,-41.5278 c -15.773,4.7464 -8.582,29.2703 7,24.0278 14.258,-4.797 7.623,-28.4281191 -7,-24.0278 m -83.999996,121.5278 c -5.5452,-12.301 -27.1001,-18.261 -21.0556,-35 2.0869,-5.7791 16.3417,-19.9062 22.0556,-22.1944 2.7215,-1.0899 6.0624,0.5393 9,-0.2223 7.3834,-1.9142 11.1609,-10.752 7.8889,-17.5833 -3.2113,-6.7045 -11.7644,-8.5316 -17.8056,-4.75 -7.6521,4.79 -2.2885,13.0093 -7.1389,18.75 -4.9936,5.9103 -12.069,15.8317 -18.9444,19.4444 -4.2873,2.2529 -9.6266,-0.8252 -14,2.0556 -4.3416,2.8598 -5.5557,7.57 -4.9167,12.5 1.651,12.736 11.8889,6.447 18.9167,10.417 5.5855,3.154 10.475,10.058 15,14.583 2.0256,2.026 5.053,4.224 6.0556,7 1.1049,3.06 -0.5796,6.745 0.4166,10 2.529,8.263 14.2534,10.774 20.2778,4.75 11.8591,-11.859 -3.8292,-23.156 -15.75,-19.75 m 4,-41.5278 c -7.811,2.2963 -12.1121,12.3818 -7.3611,19.4448 5.0808,7.552 12.7718,1.86 18.3611,6.194 5.5552,4.308 17.6444,14.202 19.8889,20.889 1.313,3.912 -0.712,8.023 1.3889,11.972 2.6081,4.903 8.499196,6.932 13.722196,5.611 12.248,-3.097 5.2,-13.923 11.028,-20.583 5.071,-5.796 12.267,-14.796 18.972,-18.583 5.355,-3.025 11.333,1.242 16.306,-4.639 6.328,-7.485 1.368,-19.4755 -8.306,-20.528 -13.797,-1.5011 -10.252,11.293 -12.944,18.75 -3.998,11.069 -21.421,24.271 -33.056001,22.278 -5.643795,-0.967 -21.357495,-17.005 -23.277795,-22.5 -2.5119,-7.188 -0.2956,-22.5469 -14.7222,-18.3058 m -39,39.9448 c -16.1060699,3.318 -11.14817,28.005 5,24.333 14.6803,-3.338 9.9865,-27.421 -5,-24.333 m 119.999996,0 c -16.135,3.324 -11.077,27.682 5,24.333 14.797,-3.083 9.972,-27.418 -5,-24.333 z"
                            id="path873"
                        />
                    </g>
                </svg>
            </h1>
            <p class="text-white">Utwórz konto w <b>ServiceFront</b></p>
            <div class="flex flex-row justify-center my-4">
                <%- include('../../components/form/_register.ejs') %>
            </div>
            <% if(error) { %>
            <p class="text-xs text-red-300"><%= error %></p>
            <% } %>
        </div>
    </div>
</section>

<%- include('../../components/footer/_index.ejs') %>
