<%- include('../../components/header/_index.ejs') %>
<span class="font-bold text-teal-900 dark:text-white">Dashboard</span>

<%- include('../../components/chill/_index.ejs') %> <%-
include('../../components/footer/_index.ejs') %>
