<form action="/login/register" method="post">
    <input
        type="email"
        name="email"
        id="email"
        placeholder="Adres e-mail"
    />
    <input type="password" name="password" id="password" placeholder="Hasło" />
    <input type="submit" value="Utwórz konto" />
</form>
