<%- include('../components/_header.ejs') %>
<span class="font-bold text-teal-900 dark:text-white">Dashboard</span>

<%- include('../components/_chill.ejs') %> <%-
include('../components/_footer.ejs') %>
