<form action="/ticket/new" method="post">
    <input type="text" name="title" id="title" placeholder="Tytuł zgłoszenia"></br>
    <textarea name="description_md" id="description_md" cols="30" rows="10" placeholder="Opis zgłoszenia"></textarea></br>
    <select name="priority" id="priority" >
        <% for( const [key, value] of Object.entries(definition.priority) ) { %>
            <option value="<%= key %>"><%= value %></option>  
        <% } %>
    </select>
    <select name="category" id="category" >
        <% for( const [key, value] of Object.entries(definition.category) ) { %>
            <option value="<%= key %>"><%= value %></option>  
        <% } %>
    </select>
    </br>
    <input type="submit" value="Wyślij">
</form>